
body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 15px;
    font-weight: unset;
    display: inline-block;
}

.title {
}

#title-node {
    display:inline-block;
    padding: 5px 25px;
}

.node-list {
    margin-top: 40px;
}

.node {
    margin-bottom: 30px;
}

.node-item {
    padding: 15px 25px;
    display: inline-block;
}

.node {

}
