@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

:root {
    --node-pt-light: #66ff66;
    --node-pt-light-shadow: #00ff00;
    --node-pt-dark: #336633;
    --sub-node-pt: #003300;
    --sub-node-pt-light: #006600;
}

html {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;

    background-color: #000000;

    /*
    background: linear-gradient(
        315deg,
        rgba(0, 255, 0, 0.1) 0%,
        rgba(0, 255, 0, 0.05) 50%,
        transparent 70%
    ),
    black;
    background-attachment: fixed;
    */
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    max-width: 500px;

    position: relative;

    .tree-view {
        position: relative;
    }
}

a {
    text-decoration: none;
}

div#main-line {
    position: absolute;
    left: 14px;
    top: 24px;
    height: 0;
    border-left: 2px solid #66ff66;
    box-shadow: 0 0 10px #66ff66;
}

.node-pt {
    color: var(--node-pt-dark);
    display: inline-block;
    line-height: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 20px;
    min-width: 20px;
}


header.node {
    margin-top: 10px;
    margin-bottom: 50px;

    .node-head {
        white-space: nowrap;

        .node-pt {
            text-shadow: 0 0 20px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow), 0 0 60px var(--node-pt-light-shadow);
            color: var(--node-pt-light);
            width: 30px;
            min-width: 30px;
        }
    }
}

h1 {
    font-size: 1.2rem;
    font-weight: normal;
}

.node {
    position: relative;
    contain: layout;

    > .node-head {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;

        transition: all 0.3s ease-out;
    }

    > .node-content {
        margin-left: 25px;
    }
}

.node-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > section {
        padding-left: 30px;
        margin-bottom: 40px;
        visibility: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        .sub-node-container
        {
            position: relative;
            padding-left: 40px;
            height: 0px;
            font-size: 13px;
            z-index: -10;
            pointer-events: none;

            > .sub-node {
                filter: blur(2px);
                display: flex;
                padding: 20px 0;
                transition: all 0.3s ease;

                > .node-pt {
                    transition: all 0.3s ease;
                }

                &:nth-child(1) {
                    color: rgb(100, 100, 100);

                    > .node-pt {
                        color: #003000;
                    }
                }

                &:nth-child(2) {
                    color: rgba(80, 80, 80, 0.6);

                    > .node-pt {
                        color: #002000;
                    }
                }

                &:nth-child(3) {
                    color: rgba(80, 80, 80, 0.4);

                    > .node-pt {
                        color: #001500;
                    }
                }

                &:nth-child(4) {
                    color: rgba(80, 80, 80, 0.3);

                    > .node-pt {
                        color: #001000;
                    }
                }
            }

            &.hover {
                > .sub-node {
                    filter: blur(1px);

                    &:nth-child(1) {
                        color: rgb(120, 120, 120);

                        > .node-pt {
                            color: #005000;
                        }
                    }

                    &:nth-child(2) {
                        color: rgba(100, 100, 100, 0.6);

                        > .node-pt {
                            color: #004000;
                        }
                    }

                    &:nth-child(3) {
                        color: rgba(100, 100, 100, 0.4);

                        > .node-pt {
                            color: #002500;
                        }
                    }

                    &:nth-child(4) {
                        color: rgba(100, 100, 100, 0.3);

                        > .node-pt {
                            color: #001500;
                        }
                    }
                }
            }
        }
    }

    > section.content-node {
        padding-left: 40px;
    }
}

.network-link {
    color: gray;
    background-color: transparent;
    margin-left: 4px;
    padding: 12px 0;
    transition: all 0.3s ease;

    & + .node-pt {
        transition: all 0.3s ease;
    }

    &:hover {
        color: white;
        cursor: pointer;

        & + .node-pt {
            color: var(--node-pt-light);
            text-shadow: 0 0 10px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow);
            transition: all 0.3s ease;
        }
    }
}

.disappear {
    opacity: 0;
}

.content-link {
    color: gray;
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--node-pt-dark);
    padding: 8px 15px 11px 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        color: white;
        border: 2px solid var(--node-pt-light);
        box-shadow: 0 0 3px var(--node-pt-light-shadow), 0 0 10px var(--node-pt-light-shadow);
        cursor: pointer;
    }

    &.hidden {
        visibility: hidden;
    }
}

.node {
    position: relative;

    > .node-pt {
        width: 32px;
        min-width: 32px;
        text-align: center;
        font-size: 10px;
    }
}

#bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}


canvas.node-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: calc(100% + 350px);
    z-index: -100;
    pointer-events: none;
    contain: layout style paint;
    position: absolute;
    transform: translateZ(0);
}

#content-node-view {

    > header {
        > h1 {
            padding: 0;
            margin: 0;
            font-size: 1rem;
            font-weight: normal;
        }
    }

    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    color: white;
    border: 2px solid var(--node-pt-light);
    box-shadow: 0 0 3px var(--node-pt-light-shadow), 0 0 10px var(--node-pt-light-shadow);
}

.blur {
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.5s ease;
}

.blur.blur-active {
    backdrop-filter: blur(2px);
}


