@import 'normalize.css';

:root {
    --node-pt-light: #66ff66;
    --node-pt-light-shadow: #00ff00;
    --node-pt-dark: #336633;
    --sub-node-pt: #003300;
}

html {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    position: relative;
    padding: 0;
    margin: 0;

    background-color: #000000;

    /*
    background: linear-gradient(
        315deg,
        rgba(0, 255, 0, 0.1) 0%,
        rgba(0, 255, 0, 0.05) 50%,
        transparent 70%
    ),
    black;
    background-attachment: fixed;
    */
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    max-width: 500px;
}

a {
    text-decoration: none;
}

div#main-line {
    position: absolute;
    left: 14px;
    top: 24px;
    height: 100%;
    border-left: 2px solid #66ff66;
    box-shadow: 0 0 10px #66ff66;
}

.node-pt {
    color: var(--node-pt-dark);
    display: inline-block;
    line-height: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 20px;
    min-width: 20px;
}


header.node {
    margin-top: 10px;
    margin-bottom: 50px;

    .node-head {
        white-space: nowrap;

        .node-pt {
            text-shadow: 0 0 20px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow), 0 0 60px var(--node-pt-light-shadow);
            color: var(--node-pt-light);
            width: 30px;
            min-width: 30px;
        }
    }
}

h1 {
    font-size: 1.2rem;
}

.node {
    > .node-head {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    > .node-content {
        margin-left: 25px;
    }
}



.node-container {
    > section {
        padding-left: 30px;
        margin-bottom: 40px;

        
        .sub-node-container
        {
            position: relative;
            left: 40px;
            height: 0px;
            font-size: 13px;
            z-index: -100;
            pointer-events: none;

            > .sub-node {
                filter: blur(1px);
                display: flex;
                color: rgba(100, 100, 100, 0.5);
                padding: 12px 0;

                > .node-pt {
                    color: var(--sub-node-pt);
                }
            }
        }
    }
}

.network-link {
    color: gray;
    background-color: transparent;
    margin-left: 4px;
    padding: 12px 0;
    transition: all 0.3s ease;

    & + .node-pt {
        transition: all 0.3s ease;
    }

    &:hover {
        color: white;
        cursor: pointer;

        & + .node-pt {
            color: var(--node-pt-light);
            text-shadow: 0 0 10px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow);
            transition: all 0.3s ease;
        }
    }
}


.content-link {
    color: gray;
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--node-pt-dark);
    margin-left: 10px;
    padding: 8px 15px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);

    &:hover {
        color: white;
        border: 2px solid var(--node-pt-light);
        box-shadow: 0 0 3px var(--node-pt-light-shadow), 0 0 10px var(--node-pt-light-shadow);
        cursor: pointer;
    }
}

.node {
    position: relative;

    > .node-pt {
        width: 32px;
        min-width: 32px;
        text-align: center;
        font-size: 10px;
    }
}

#bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px;
    background: linear-gradient(
        180deg,
        rgba(0, 100, 0, 0.05) 0%,
        rgba(0, 100, 0, 0.1) 50%,
        rgba(0, 100, 0, 0.05) 100%
    );
    backdrop-filter: blur(5px);
    z-index: 100;
    border: 1px solid rgba(0, 128, 0, 0.5);
    box-shadow: 0 0 10px #008800;
    border-bottom: none;
    padding: 10px 20px;
}


canvas.node-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: calc(100% + 150px);
    z-index: -1;
    pointer-events: none;
}
