
body {
    background-color: black;
    color: white;
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif JP", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 30px;
}

.container {
    margin: 0;
    padding: 0 5px;
    width: calc(100% - 10px);
}

p, blockquote {
    padding: 0;
    margin: 0;
}

main {
    margin-top: 50px;
}

a:link, a:visited {
    color: #AAFFAA;
    text-decoration: none;
}

a:hover, a:active {
    color: white;
}

#main-canvas {
    position: absolute;
    top:0;
    left:0;
    z-index:-1000;
    backdrop-filter: blur(1px);
}

#bg1, #bg2 {
    position: absolute;
    top:0;
    left:0;
    z-index:-1001;
}

#bg2 {
    z-index:-1002;
    backdrop-filter: blur(4px);
}

#bg3c {
    position:fixed;
    top:0;
    left:0;
    z-index:-1003;
    overflow:hidden;
    width:100vw;
    height:100vh;
    padding:0;
    text-align: center;
}

#bg3 {
    position:relative;
}

#debug {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    display: inline-block;
}

/* スマホ～ */
@media (min-width: 400px) {

}

/* ファブレット～ */
@media (min-width: 550px) {
}

/* タブレット～ */
@media (min-width: 750px) {
    body {
        display: grid;
        justify-content: center;
    }
    .container {
        width: 680px;
    }
}
/* PC～ */
@media (min-width: 1000px) {
}



