/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
    --mn-camera-x1: 0;
    --mn-camera-y1: 0;
    --mn-camera-x2: 0;
    --mn-camera-y2: 0;
    --mn-camera-x3: 0;
    --mn-camera-y3: 0;
    --mn-camera-x4: 0;
    --mn-camera-y4: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Noto Serif JP", "游明朝 Demibold", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

table {
    font-size: 14px;
}

#scroller {
    position: absolute;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hide {
    visibility: hidden;
}

.container {
    margin: 0;
    padding: 0 5px;
    width: calc(100% - 10px);
}


#scroller.self-scroll {
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    top: 0;

    main {
        padding-bottom: 100vh;
    }

    /*scrollbar-width: none;*/
}

#scroller.self-scroll::-webkit-scrollbar {
    display: none;
}


p, blockquote {
    padding: 0;
    margin: 0;
}

.only_sp {
}


.more_than_phablet {
    display: none;
}

main {
    padding-top: 50px;

    section {
        margin-bottom: 150px;
    }
}

a:link, a:visited {
    color: #88CC88;
    text-decoration: none;
}

a:hover, a:active {
    color: #AAFFAA;
}

hr {
    border: none;
    height: 1px;
}

.info {
    margin-top: 100px;
    margin-bottom: 100px;

    > .node:not(:last-child) {
        margin-bottom: 1rem;
    }
}


.horrorgame_search {

    form {
        > label {
            margin: 1rem 0;
            font-size: 1.1rem;
        }

        > div {
            margin: 20px 0;
            padding: 0 1rem;
        }
    }

    #platform_check, #rating_check {
        display: flex;
        flex-wrap: wrap;

        div {
            flex: 0 0 50%;
            padding: 10px 0;
            display: flex;
            align-items: center;

            label {
                line-height: 18px;
                text-align: left;
                white-space: wrap;
                display: inline-block;
                padding-left: 4px;
                padding-bottom: 2px;
            }
        }
    }

    #search-footer {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
    }
}

#main-canvas {
    position: absolute;
    top:0;
    left:0;
    z-index:-1000;
    backdrop-filter: blur(1px);
    pointer-events: none;
    touch-action: none;
    user-select: none;
    width: 100%;
}

#sub-canvas {
    position: absolute;
    top:0;
    left:0;
    z-index:-1001;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    width: 100%;
}

#bg {
    position:fixed;
    top:0;
    left:0;
    z-index:-1003;
    overflow:hidden;
    width:100%;
    height:100vh;
    padding:0;
    text-align: center;
    background-image: url('../img/bg3_2.jpg');
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 2048px 2048px;
    pointer-events: none;
}

#debug {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    display: inline-block;
}


.title-review {
    margin-bottom: 30px;


    > div:last-child {
        margin-top: 1rem;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    > .product-info {
        width: 50%;
        padding: 2px 3px;
        margin-bottom: 1rem;

        > .text-node {
            text-align: center;

            .platform-name {
                margin-bottom: 1rem;
                white-space: nowrap; /* テキストを改行させない */
                overflow: hidden;    /* 表示領域を超えた部分を隠す */
                text-overflow: clip; /* テキストが切れる部分をクリップする */
                min-width: 100px;        /* 表示領域の幅を設定 */
            }

            .pkg-img {
                display:flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                position: relative;
                margin-bottom: 1rem;
                height: 100px;

                .shop-title {
                    position: absolute; /* 子要素を絶対位置に設定 */
                    bottom: 0; /* 子要素を親要素の最下部に配置 */
                    left: 0; /* 子要素を親要素の左端に配置 */
                    width: 100%; /* 子要素の幅を親要素に合わせる */
                    background-color: rgba(0, 0, 0, 0.6); /* 背景色を設定（透明度を追加） */
                    padding: 0 10px; /* パディングを追加 */
                    box-sizing: border-box; /* パディングを含めたボックスサイズを設定 */
                    font-size: 10px;
                    text-align: center;
                }

                img {
                    width: auto;
                    max-width:100%;
                    max-height:100px;
                }

                img.default-img {
                    max-width: 100px !important;
                    max-height: 100px;
                }
            }

            .shop-link {
                > div {
                    > a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        > i {
                            margin-right: 2px;
                        }

                        > span {
                            padding-top: 2px;
                        }
                    }
                }
            }
        }
    }
}

.shop-link {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;


    > div {
        margin: 5px;

        > a {
            white-space: nowrap;
        }
    }
}

.review-score {
    white-space: nowrap;
    text-align: center;

    .review-score-fear {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .review-score-other {
        display:flex;
        flex-wrap:wrap;

        > div {
            width: 50%;
        }

        > div:first-child {
            margin-bottom: 20px;
        }
    }

    .review-score-fear, .review-score-other > div {
        span:first-child {
            display: inline-block;
            width: 100px;
            text-align: center;
        }

        span:last-child {

        }
    }
}

.description {
    > footer {
        text-align: right;
        margin-top: 1rem;
    }
}

.ogp-info {
    text-align: center;
    position: relative;
    margin-bottom: 1rem;

    img {
        display: block;
        max-width: 100%;
        max-height: 400px;
    }

    blockquote {
        position: absolute; /* 子要素を絶対位置に設定 */
        bottom: 0; /* 子要素を親要素の最下部に配置 */
        left: 0; /* 子要素を親要素の左端に配置 */
        width: 100%; /* 子要素の幅を親要素に合わせる */
        background-color: rgba(0, 0, 0, 0.6); /* 背景色を設定（透明度を追加） */
        padding: 0 20px; /* パディングを追加 */
        box-sizing: border-box; /* パディングを含めたボックスサイズを設定 */
        font-size: 10px;

        > footer {
            text-align: right;
        }
    }
}

.fade {
    opacity: 0;
}

.admin-edit {
    text-align: right;
}

#rating-check-popup > div {
    text-align: center;
    h1 {
        text-align: center;
    }

    p {
        margin: 2rem 0;
    }

    a {
        margin: 0 1rem;
    }
}

#loading {
    position: fixed;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: black;
    opacity: 0.6;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-text {
    animation: fadeIn 0.2s ease-in-out forwards;
}

.show-text {
    opacity: 1 !important;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out-text {
    animation: fadeOut 0.2s ease-in-out forwards;
}



body.network-map {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1000;
    }

    .franchise {
        touch-action: none;
        user-select: none;
    }
}

div#main-network-debug {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    touch-action: none;
    user-select: none;
    color: white;
    z-index: 10000;
}

canvas#main-network-debug-canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    border: dotted 1px red;
}

/* スマホ～ */
@media (min-width: 400px) {

}

/* ファブレット～ */
@media (min-width: 550px) {
    .product-list {
        > .product-info {
            width: 33%;
            padding: 2px 3px;
        }
    }

    .only_sp {
        display: none;
    }

    .more_than_phablet {
        display: revert;
    }
}

/* タブレット～ */
@media (min-width: 750px) {
    body {
        display: grid;
        justify-content: center;
    }
    .container {
        width: 700px;
    }

    .title-packages {
        justify-content: center;

        > .title-package-info {
            max-width: 200px;
            margin-right: 10px;
            margin-bottom: 1rem;
        }
    }

    .review-score {
        .review-score-other {
            > div {
                width: 25%;
            }

            > div:first-child {
                margin-bottom: 0;
            }
        }

        .review-score-other > div {
            span:first-child {
                text-align: right;
            }
        }
    }

    .horrorgame_search {
        #platform_check, #rating_check {
            div {
                flex: 0 0 33.33%;
                padding: 5px 0;
            }
        }
    }
}
/* PC～ */
@media (min-width: 1000px) {


    .horrorgame_search {
        #platform_check, #rating_check {
            div {
                flex: 0 0 25%;
                padding: 5px 0;
            }
        }
    }
}



