@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    position: relative;
    padding: 0;
    margin: 0;
}

.tree-pt {
    color: #66aa66;
    display: inline-block;
    line-height: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


header {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;

    > .tree-pt {
        font-size: 10px;
        margin-right: 10px;
        text-shadow: 0 0 15px #00ff00, 0 0 20px #00ff00;
        color: #00ff00;
    }
}

h1 {
    font-size: 1.2rem;
}

ul {
    list-style: none;

    li {
        margin-left: 40px;
        margin-bottom: 40px;
    }
}

.network-link-node {
    color: gray;
    background-color: transparent;
    padding: 12px 0;
    transition: all 0.3s ease;
    display: flex;

    &:hover {
        color: white;
        cursor: pointer;

        > .tree-pt {
            color: #00ff00;
        }
    }

    > .tree-pt {
        width: 32px;
    }
}


.content-link-node {
    color: gray;
    background-color: transparent;
    border: 2px solid #006600;
    padding: 12px 30px;
    transition: all 0.3s ease;

    &:hover {
        color: white;
        border: 2px solid #00ff00;
        box-shadow: 0 0 15px rgba(0, 255, 0, 0.67), 0 0 30px rgba(0, 255, 0, 0.53);
        cursor: pointer;
    }
}

.node {
    > .tree-pt {
        text-align: center;
        font-size: 10px;
    }
}


#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}
