@import 'normalize.css';
@import 'tom-select/dist/css/tom-select.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

:root {
    --node-pt-light: #66ff66;
    --node-pt-light-shadow: #00ff00;
    --node-pt-dark: #55AA55;
    --sub-node-pt: #003300;
    --sub-node-pt-light: #006600;
}

html {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;

    background-color: #000000;

    /*
    background: linear-gradient(
        315deg,
        rgba(0, 255, 0, 0.1) 0%,
        rgba(0, 255, 0, 0.05) 50%,
        transparent 70%
    ),
    black;
    background-attachment: fixed;
    */
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 767px;

    position: relative;

    .tree-view {
        position: relative;
    }
}

a {
    text-decoration: none;
    color: var(--node-pt-dark) !important;
    text-decoration: none;
    transition: color 0.3s ease;
    
    &:hover {
        color: var(--node-pt-light) !important;
        text-shadow: 0 0 10px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow) !important;
    }
}

img.default-img {
    width: 20px;
}

img.pkg-img, img.ogp-img {
    max-width: 100%;
    width: auto;
    height: auto;
}



div.connection-line {
    position: absolute;
    left: 14px;
    top: 24px;
    height: 0;
    width: 2px;
    background: #66ff66;
    box-shadow: 0 0 10px #66ff66;
    transition: background 0.25s ease, box-shadow 0.1s ease;
    visibility: hidden;

    &.visible {
        visibility: visible;
    }

    &.fade-out {
        background: transparent;
        box-shadow: 0 0 0;
    }
}

.node-pt {
    color: var(--node-pt-dark);
    display: inline-block;
    line-height: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 20px;
    min-width: 20px;
    transition: color 0.3s ease, text-shadow 0.3s ease, opacity 0.2s ease;
}

.invisible {
    opacity: 0;
}


header.header-node {
    margin-top: 0;
    margin-bottom: 20px;

    .node-head {
        white-space: nowrap;
        position: relative;
        margin-bottom: 10px;

        > h1 {
            font-size: 1.2rem;
            font-weight: normal;
        }

        > h2 {
            font-size: 1.0rem;
            font-weight: normal;
        }

        .node-pt {
            text-shadow: 0 0 20px var(--node-pt-dark-shadow), 0 0 30px var(--node-pt-dark-shadow), 0 0 60px var(--node-pt-light-shadow);
            color: var(--node-pt-dark);
            width: 30px;
            min-width: 30px;

            &.fade-out {
                opacity: 0;
            }
        }
    }

    .header-node-content {
        margin-top: 20px;
        margin-left: 30px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.header-fade-mask {
    mask-image: linear-gradient(to left, transparent 0%, black 40%, black 100%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 40%, black 100%);

    mask-size: 200% 100%;
    -webkit-mask-size: 200% 100%;

    mask-position: 200% 0;
    -webkit-mask-position: 200% 0;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

/* 右側から透明になるアニメーション用のクラス */
.header-fade-out-right {
    mask-position: 0% 0;
    -webkit-mask-position: 0% 0;

    animation: header-fadeout-mask 1s forwards;
}
.header-fade-in-left {
    mask-position: 200% 0;
    -webkit-mask-position: 200% 0;

    animation: header-fadein-mask 1s forwards;
}

/* 右側から透明になるアニメーション */
@keyframes header-fadeout-mask {
    0% {
        mask-position: 0% 0;
        -webkit-mask-position: 0% 0;
      }
      100% {
        mask-position: 200% 0;
        -webkit-mask-position: 200% 0;
      }
}

/* 右側から透明になるアニメーション */
@keyframes header-fadein-mask {
    0% {
        mask-position: 200% 0;
        -webkit-mask-position: 200% 0;
      }
      100% {
        mask-position: 0% 0;
        -webkit-mask-position: 0% 0;
      }
}

header.main-header-node {
    margin-bottom: 50px !important;

    .node-head {
        .main-node-pt {
            text-shadow: 0 0 20px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow), 0 0 60px var(--node-pt-light-shadow) !important;
            color: var(--node-pt-light) !important;
        }
    }
}

.node {
    position: relative;
    contain: layout;

    > .node-head {
        display: inline-flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;

        transition: all 0.3s ease-out;
    }

    > .node-content {
        margin-left: 25px;
    }
}

.node-container, .sub-tree-node-container, .accordion-tree-node-container {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;

    > section.node, > .accordion-node-content > section.node {
        padding-left: 30px;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        .terminal-node-container, 
        .accordion-node-container
        {
            position: relative;
            padding-left: 30px;
            font-size: 13px;
        }

        .accordion-node-container
        {
            transition: all 0.3s ease;
            opacity: 0.5;

            &.hover {
                opacity: 1;
            }
        }

        .accordion-node-container,
        .accordion-tree-node-container {
            overflow: hidden;
            transition: height 0.3s ease, opacity 0.3s ease;
            height: 0;

            &.closed {
                transition: height 0.3s ease, opacity 0.3s ease;
                opacity: 0;
                height: 0 !important;
            }
        }

        .behind-node-container
        {
            position: relative;
            padding-left: 40px;
            height: 0px;
            font-size: 13px;
            z-index: -10;
            pointer-events: none;

            > .behind-node {
                filter: blur(2px);
                display: flex;
                padding: 20px 0;
                transition: all 0.3s ease;

                > .node-pt {
                    transition: all 0.3s ease;
                }

                &:nth-child(1) {
                    color: rgb(100, 100, 100);

                    > .node-pt {
                        color: #003000;
                    }
                }

                &:nth-child(2) {
                    color: rgba(80, 80, 80, 0.6);

                    > .node-pt {
                        color: #002000;
                    }
                }

                &:nth-child(3) {
                    color: rgba(80, 80, 80, 0.4);

                    > .node-pt {
                        color: #001500;
                    }
                }

                &:nth-child(4) {
                    color: rgba(80, 80, 80, 0.3);

                    > .node-pt {
                        color: #001000;
                    }
                }
            }

            &.hover {
                > .sub-node {
                    filter: blur(1px);

                    &:nth-child(1) {
                        color: rgb(120, 120, 120);

                        > .node-pt {
                            color: #005000;
                        }
                    }

                    &:nth-child(2) {
                        color: rgba(100, 100, 100, 0.6);

                        > .node-pt {
                            color: #004000;
                        }
                    }

                    &:nth-child(3) {
                        color: rgba(100, 100, 100, 0.4);

                        > .node-pt {
                            color: #002500;
                        }
                    }

                    &:nth-child(4) {
                        color: rgba(100, 100, 100, 0.3);

                        > .node-pt {
                            color: #001500;
                        }
                    }
                }
            }
        }
    }

    > section.content-node {
        padding-left: 40px;
    }
}



button.accordion-expand-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0 !important;
    font: inherit;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    display: inline;
    line-height: inherit;
    vertical-align: baseline;
}

a.network-link, .terminal-title, button.accordion-expand-button {
    color: lightgray !important;
    background-color: transparent;
    margin-left: 4px;
    padding: 12px 0;
    transition: all 0.3s ease;
}

a.network-link, .header-node-text {
    & + .node-pt {
        color: var(--node-pt-dark) !important;
    }

    &.hover, &.active {
        color: white !important;
        cursor: pointer;

        & + .node-pt {
            color: var(--node-pt-light) !important;
            text-shadow: 0 0 10px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow) !important;
        }
    }
}

.terminal-title {
    color: white !important;

    & + .node-pt {
        color: var(--node-pt-light) !important;
        text-shadow: 0 0 10px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow) !important;
    }
}

.sub-tree-node {
    transition: opacity 0.3s ease;
}

.content-link {
    color: gray;
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--node-pt-dark);
    padding: 8px 15px 11px 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

    &.hover {
        color: white;
        border: 2px solid var(--node-pt-light);
        box-shadow: 0 0 3px var(--node-pt-light-shadow), 0 0 10px var(--node-pt-light-shadow);
        cursor: pointer;
    }
}

.node {
    position: relative;
}

#bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}


canvas.node-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 400px;
    z-index: -100;
    pointer-events: none;
    contain: layout style paint;
    position: absolute;
    transform: translateZ(0);
}

#content-node-view {
    display:none;
    position: absolute;
    top: 0;
    left: 5px;
    width: calc(100% - 10px);
    min-width: 360px;
    max-width: 757px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    > div#content-node-view-header {
        position: sticky;
        top: 0px;
        z-index: 100;

        > div {
            height: 5px;
            background-color: black;
        }
        
        > header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.7);
            border: 2px solid var(--node-pt-light);


            > h1 {
                padding: 0;
                margin: 10px;
                font-size: 1.4rem;
                font-weight: normal;
            }

            > span {
                font-size: 1.0rem;
                cursor: pointer;
                margin: 10px;
                color: lightgray;
                transition: color 0.3s ease;

                &:hover {
                    color: white;
                }
            }
        }
    }


    > div#content-node-view-content {
        padding: 10px;
        border: 2px solid var(--node-pt-light);
        border-top: none;

        > section {
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }

            > h2 {
                font-size: 1.2rem;
                font-weight: normal;

                &::before {
                    content: '●';
                    margin-right: 5px;
                    color: var(--node-pt-light);
                    font-size: 0.8rem;
                    text-shadow: 0 0 10px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow);
                    display: inline-block;
                    vertical-align: text-bottom;
                    position: relative;
                    top: -0.4em;
                }
            }
        }
    }
}

.blur {
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.5s ease;
}

.blur.blur-active {
    backdrop-filter: blur(2px);
}

#free-pt {
    display: inline;
    position: absolute;
    font-size: 10px;
    text-shadow: 0 0 20px var(--node-pt-light-shadow), 0 0 30px var(--node-pt-light-shadow), 0 0 60px var(--node-pt-light-shadow);
    color: var(--node-pt-light);
    width: 30px;
    min-width: 30px;
    text-align: center;
    line-height: 1;
    visibility: hidden;
    user-select: none;

    &.visible {
        visibility: visible;
    }
}

div.shop-link {
    margin-top: 5px;
    display: flex;

    > div {
        margin-right: 5px;
        
        > a {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

