

h1 {
    font-size: 22px;
    font-weight: unset;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
}

div.h1 {
    margin: 20px 0;
}

h1.head1 {
    padding: 15px 30px;
    margin: 30px 0;
}

div.h2 {

}

h2.head2 {
    font-size: 15px;
    font-weight: unset;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 50px;
    white-space: nowrap;
}

div.h3 {
    text-align: center;
}

h3.head3 {
    width: 100%;
    margin: 0 0 1.5rem 0;
    font-size: 15px;
    padding: 5px 15px;
    background: radial-gradient(circle, rgba(0, 80, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 90%);
    /*background: linear-gradient(135deg, rgba(0, 80, 0, 0.6), rgba(0, 0, 0, 0.2));*/

    .bi-octagon {
        color: #AAFFAA;
    }
}
