:root {
    --content-node-notch: 70px;
}

.node {
    display: flex;
    justify-content: center;
}

.node-right {
    justify-content: right;
}

.node-center {
    justify-content: center;
}

.node-around {
    display: flex;
    justify-content: space-around;
}

.node-between {
    justify-content: space-between;
}

.dom-node {
    padding: 13px 18px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;

    a:link, a:visited {
        color: #AAFFAA;
        text-decoration: none;
    }

    a:hover, a:active {
        color: white;
    }
}



.link-node, .content-link-node, .popup-link-node {
    padding: 13px 18px;
    display: inline-block;
    cursor: pointer;

    a:link, a:visited, a:hover, a:active {
        color: white;
        text-decoration: none;
    }
}

.link-node-center {
    text-align: center;
}

.dom-node.small, .link-node.small, .content-link-node.small, .popup-link-node.small {
    font-size: 11px;
    padding: 8px 12px;
    display: inline-block;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .link-node {
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

.node {

}

#content-node {
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    #content-node-container {
        position: relative;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.show {
            opacity: 1;
        }

        &.hide {
            opacity: 0;
        }
    }

    .content-node-close {
        position: absolute;
        right: var(--content-node-notch);
        font-size: 20px;
        cursor: pointer;
    }

    #content-node-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--content-node-notch);

        h1 {
            margin: 0;
            font-size: 20px;
        }
    }

    #content-node-body {
        padding: 0 15px;
        min-height: calc(100vh - (var(--content-node-notch) * 2));

        h2 {
            margin: 0 0 1.5rem 0;
            font-size: 18px;
            padding-bottom: 5px;
            border-bottom: solid 1px green;

            .bi-octagon {
                color: #AAFFAA;
            }
        }

        h2 i:first-child {
            margin-right: 0.5rem;
        }
    }

    #content-node-footer {
        height: var(--content-node-notch);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        margin: 0;
        padding: 0;

        p {
            margin-bottom: 1rem;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }

    section:not(:last-child) {
        margin-bottom: 5rem;
    }
}



.popup-wrapper {
    /* ポップアップの背景オーバーレイ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center; /* 上下中央に配置 */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.popup {
    /* ポップアップのコンテナ */
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    border: solid 1px lime;
    transform-origin: center;
    transform: scaleY(0);
    transition: transform 0.3s ease-out;
    min-width: 300px;
}

.popup-content {
    /* コンテンツを包むコンテナ */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-out 0.1s;
    width: 100%;
}

.popup-node {
    display: none;
    position: relative;
    width: 100%;
    min-height: 100%;
    opacity: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-container {
    width: 100%;
    text-align: center;
    color: white;
}

/* オープン時のスタイル */
.popup-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.popup-wrapper.open .popup {
    transform: scaleY(1);
}

.popup-wrapper.open .popup-content {
    opacity: 1;
    transform: translateY(0);
}

.content-node-opened, .popup-node-opened {
    display: flex;
    justify-content: center;
    z-index: 100;
}

.content-node-hide {
    visibility: hidden;
}

.content-node-closed, .popup-node-closed {
    display: none;
    z-index: -1;
}




.node-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    > div {
        display: inline-block;
        white-space: nowrap;

        .link-node, .content-link-node, .dom-node, .popup-link-node {
            margin: 20px;
        }
    }

    > div:nth-child(2n) {
        padding-top: 20px;
    }
    > div:nth-child(3n) {
        padding-top: 13px;
    }
    > div:nth-child(5n) {
        padding-top: 30px;
    }
}

#entrance-node {
    width: 300px;
    height: 200px;
    padding: 50px 0;
    position: relative;
    text-align: center;
    cursor: hand;

    > canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        height: 300px;
        pointer-events: none;
    }

    > a {
        display: block;
        height: 200px;
        position: relative;
        color: white;
        pointer-events: none;

        > p {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}

#content-node-blur {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
    z-index: 99;
}

#content-node-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.text-node {
    margin: 0 0;
    padding: 15px 18px;

    h3 {
        margin: 0 0 1rem 0;
        font-size: 16px;
    }
}

.text-node.small {
    padding: 6px 10px;
    font-size: 11px;
}

#map {
    .dom-node, .link-node, .text-node {
        position: fixed;
        white-space: nowrap;
        text-align: center;
    }

    .view1 {
        transform: translate(calc(var(--mn-camera-x1) * -1), calc(var(--mn-camera-y1) * -1));
    }

    .view2 {
        transform: translate(calc(var(--mn-camera-x2) * -1), calc(var(--mn-camera-y2) * -1)) !important;
    }

    .view3 {
        transform: translate(calc(var(--mn-camera-x3) * -1), calc(var(--mn-camera-y3) * -1)) !important;
    }

    .view4 {
        transform: translate(calc(var(--mn-camera-x4) * -1), calc(var(--mn-camera-y4) * -1)) !important;
    }
}

/* スマホ～ */
@media (min-width: 400px) {

}

/* ファブレット～ */
@media (min-width: 550px) {
    .dom-node {
        padding: 15px 25px;
    }

    .link-node, .content-link-node, .popup-link-node {
        padding: 13px 20px;
    }

    .node-map {
        > div {
            flex-basis: auto;
            .link-node, .content-link-node, .dom-node, .popup-link-node {
                margin: 25px;
            }
        }

        > div:nth-child(2n) {
            padding-top: 40px;
            padding-left: 25px;
        }
        > div:nth-child(3n) {
            padding-top: 25px;
            padding-left: 10px;
        }
        > div:nth-child(5n) {
            padding-top: 55px;
            padding-left: 20px;
        }
    }
}

/* タブレット～ */
@media (min-width: 750px) {
    #content-node {
        width: 680px;
        left: calc((100vw - 680px) / 2);

        #content-node-body {
            padding: 0 15px;
        }
    }
}
/* PC～ */
@media (min-width: 1000px) {
}



