table.admin-detail-table {
    width: 100%;

    th {
        width: auto;
        white-space: nowrap;
    }

    td {
        width: 100%;
    }
}

.admin-form-table th {
    white-space: nowrap;
}

.admin-form-table tr:last-child > td,
.admin-form-table tr:last-child > th {
    border-bottom: none;
}

.navbar-logo-hgn {
    width:28px;
    height:28px;
    margin-right:10px
}

.edit-multi-textarea {
    height: 4rem;
}
