table.admin-detail-table, table.admin-form-table {
    width: 100%;

    th {
        width: auto;
        padding-right: 10px;
        white-space: nowrap;
    }

    td {
        width: 100%;
    }
}

table.admin-form-table th {
    white-space: nowrap;
}

table.admin-form-table tr:last-child > td,
table.admin-form-table tr:last-child > th {
    border-bottom: none;
}

.navbar-logo-hgn {
    width:28px;
    height:28px;
    margin-right:10px
}

.edit-multi-textarea {
    height: 4rem;
}

textarea {
    height: 60px;
}

#network-editor-container {
    width: 100%;
    min-height: 500px;
    overflow: scroll;
    position: relative;

    #network-editor {
        position: absolute;
        top:0;
        left:0;
        width: 10000px;
        height: 10000px;

        .edit-node {
            position: absolute;
            display: inline-block;
            touch-action: none;
            user-select: none;
            padding: 13px 20px;
            font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Noto Serif JP", "游明朝 Demibold", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", serif;
            font-weight: 300;
            font-style: normal;
            font-size: 14px;
            cursor: grab;

            .edit-node-remove {
                position: absolute;
                top: -5px;
                right: -5px;
                padding: 3px;
                font-size: 12px;
                cursor: pointer;
                display: none;
                border: solid 2px #c9302c;
                border-radius: 6px;
            }
        }

        .edit-node:active {
            cursor: grabbing;
        }
    }

    #network-editor-canvas {
        position: absolute;
        top:0;
        left:0;
        z-index:-1000;
        backdrop-filter: blur(3px);
        pointer-events: none;
    }
}



