.admin-form-table th {
    white-space: nowrap;
}

.admin-form-table tr:last-child > td,
.admin-form-table tr:last-child > th {
    border-bottom: none;
}

.navbar-logo-hgn {
    width:28px;
    height:28px;
    background-image: url('logo.png');
    margin-right:10px
}
